<p><strong>Namjena internetske platforme EDUCA@SSSH</strong></p>
<p>Internetska platforma EDUCA@SSSH dio je Sustava osposobljavanja sindikalnih i radničkih predstavnika EDUCA@SSSH koji organizira i provodi Savez samostalnih sindikata Hrvatske (SSSH).</p>
<p>Internetska platforma EDUCA@SSSH omogućuje korisnicima prijavu na tečajeve koje organizira i provodi SSSH, praćenje podataka o tečajevima na kojima su sudjelovali, te pristup dodatnim materijalima za pojedine tečajeve.</p>
<p>Kori&scaron;tenje internetske platforme EDUCA@SSSH dozvoljeno je samo u osobne (nekomercijalne) svrhe. Edukacijski materijali objavljeni na ovoj platformi namijenjeni su isključivo za osobno kori&scaron;tenje polaznicima tečajeva, te nije dozvoljeno njihovo reproduciranje, distribuiranje ili bilo koji drugi način njihovog kori&scaron;tenja u komercijalne svrhe.</p>
<p><strong>Pravo kori&scaron;tenja</strong></p>
<p>EDUCA@SSSH namijenjena je sindikalnim povjerenicima, članovima sindikalnih povjereni&scaron;tava, ostalim radničkim predstavnicima i sindikalnim aktivistima sindikata udruženih u SSSH, koji se mogu prijaviti i za kori&scaron;tenje internetske platforme.</p>
<p>Korisnički račun aktivira se nakon provjere članstva i funkcije u jednom od sindikata udruženih u SSSH.</p>
<p><strong>Za&scaron;tita osobnih podataka</strong></p>
<p>SSSH se obvezuje da će osobne podatke korisnika internetske platforme EDUCA@SSSH koristiti isključivo u svrhe provođenja i praćenja osposobljavanja sindikalnih i radničkih predstavnika, te da ih neće davati na uvid niti ustupati na kori&scaron;tenje trećim stranama bez pristanka korisnika.</p>
<p><strong>Isključenje odgovornosti</strong></p>
<p>SSSH nastoji umanjiti tehničke pogre&scaron;ke prilikom kori&scaron;tenja internetske platforme EDUCA@SSSH, ali ne može jamčiti da će sve funkcionalnosti uvijek biti dostupne, odnosno da neće doći do tehničkih pogre&scaron;aka prilikom prijave i odobravanja sudjelovanja na tečajevima.</p>
<p>U slučaju bilo kakvih problema s kori&scaron;tenjem internetske platforme, obratite se na e-mail <a href="mailto:educa@sssh.hr">educa@sssh.hr</a> ili broj telefona 01 46 55 048.</p>