<p><b>General Terms &amp; Conditions</b></p>

<p><b>ITO Individuum- Team- Organisation Personalmanagement GmbH</b></p>

<p><b>Währingerstraße 48, Top 3, 1090 Vienna</b></p>

<p>(hereinafter referred to as ITO)</p>

<p><b>1. General Provisions</b></p>
</ol><p>1.1. The provisions of these General Terms &amp; Conditions apply to all deliveries and services performed by ITO to Contract Partner to the extent that their applicability for each individual contract has not been excluded or limited by mutual consent. </p>

<p>1.2. These General Terms &amp; Conditions form an integral part of each individual contract between the contract parties. Its provisions prevail over the provisions of these General Terms &amp; Conditions.</p>

<p><b>2. Order Placement and Conclusion of Contract</b></p>
</ol><p>2.1. Each contract party shall bear its expenses for the preparation of offers (orders), cost estimates, etc. </p>

<p>2.2. Work in preparation of a contract to be concluded later and related to the main substance of the services to be defined contractually, has to be agreed with Contract Partner.</p>

<p>2.3. Contract Partner may place orders orally (also by phone) or in writing. </p>

<p>2.4. ITO may accept orders orally (also by phone) or in writing.</p>

<p>2.5. ITO has to record the order in a written order confirmation to be served to Contract Partner without undue delay.</p>

<p>2.6. If Contract Partner does not contradict the order confirmation by registered letter within ten working days – timeliness of the contradiction is determined by day of mailing– the provisions contained in the order confirmation are deemed as agreed upon.</p>

<p><b>3. Description and Performance of Services</b></p>

<p>3.1. ITO services comprise: planning and performance of qualification workshops, trainings and consulting orders. The individual contract defines case by case the scope, deadlines and </p>

<p>remuneration for the services to be performed by ITO.</p>

<p>3.2. As soon as any facts become apparent that may render performance of the contract questionable, Contract Parties immediately have to report in writing on these facts as well as possible measures to be considered by them.</p>

<p>3.3. To take effect, content modifications to a contractually agreed service require an agreement between Contract Parties to be concluded by the persons authorized to sign on behalf of each party. If possible, such agreements should be concluded in writing. If a written agreement is not feasible due to time pressure or other reasons, the agreement may be concluded by the aforementioned persons orally (also by phone). In doing so, the content of the contract modification has to be worded in such a way that Contract Parties may promptly send each other the modified contract provision with identical wording via fax/mail.</p>

<p>3.4. ITO Project Manager himself may make modifications related only to the performance of a contractually agreed service, e.g. a different sequence within a contractually agreed training programme etc., without the service’s main substance being altered. He has to notify Contract Partner about such a modification immediately.</p>

<p>3.5. If during the performance of a contract a service becomes necessary which so far had not been defined and not agreed upon in the contract, ITO has to reach an agreement with Contract Partner prior to its execution. If an agreement can be reached regarding the performance of this service, the respective remuneration has to be agreed upon simultaneously. For such an agreement the provisions contained in the last three sentences of para. 3.3. apply by way of analogy. If ITO performs a service so far not defined and not agreed upon in the contract without prior agreement, Contract Partner is not obliged to pay a remuneration for this service.</p>

<p>3.6. If Contract Partner does not in due time fulfil his obligation to co-operate, without which ITO is unable to perform its service, the ITO services deadlines are extended by the period of the delay thus caused.</p>

<p>3.7. ITO only employs carefully selected and well trained personnel and will – upon request by Contract Partner – replace personnel adversely affecting performance of the contract within a reasonable period.</p>

<p>3.8. Contract Partner will formally accept the service at the latest 2 weeks following performance of the work. If ITO services are accepted without objection, this is deemed as formal acceptance of the respective service.</p>

<p>3.9. Minor defects do not entitle refusal of formal acceptance of a service. Rescission, withdrawal and price reduction by Ordering Party are only permissible, if despite prior written notification of the defects and granting of a reasonable extension, improvement attempts by Contractor fail. </p>

<p>3.10. Contract Partner is entitled to rescind the contract with immediate effect, if :</p>

<p>a) settlement or insolvency proceedings regarding the assets of ITO are instituted or institution of insolvency proceedings is denied due to lack of sufficient assets. In the case of settlement proceedings, the rescission right may be exercised during the entire settlement proceedings until their termination, in the other instances without any time limit until completion of the service;</p>

<p>b) ITO – directly or indirectly – offers, promises or grants a pecuniary advantage to an organ of Contract Partner involved in the conclusion or performance of the contract or to a third party;</p>

<p>c) ITO itself or a person brought in by it for the performance of the contract violates the confidentiality obligation according to Sec. 7.</p>

<p>3.11. If not agreed differently in an individual case, for both Contract Parties the place of fulfilment is Vienna.</p>

<p><b>4. ITO Copyrights</b></p>

<p>4.1. ITO copyrights as well as all exploitation rights regarding the services (working materials e.g. in the meaning of Sec. 2.2. and/or the contractually specified service, as e.g. an expert </p>

<p>opinion) remain with ITO without limitation.</p>

<p>4.2. Contract Partner is not entitled to disseminate these materials to external third parties. </p>

<p>4.3. He will use these materials exclusively for his own purposes and not – neither directly nor indirectly – for purposes of third parties. However, he is prohibited from using these materials to run seminars/programmes etc. independently, even within his own field.</p>

<p><b>5. Remuneration and Mode of Payment</b></p>

<p>5.1. Regarding remuneration reference is made to the ITO offers.</p>

<p>5.2. The service specified in the individual contract will be invoiced upon completion of the service. If the service is divisible, this provision applies also to part-performances. In particular, this applies to ITO services for which remuneration is calculated on the basis of daily rates, such as e.g. for seminars, workshops etc. In these cases the remuneration will be invoiced for each month immediately after its end.</p>

<p>5.3. A possible Value Added Tax is to be shown separately.</p>

<p>5.4. There is no right to prepayment. Prepayments have to be agreed in the individual contract or in a separate stipulation.</p>

<p>5.5. Invoices containing factual or arithmetical deficiencies or errors do not fall due prior to their agreed correction and can be returned by Contract Partner at any time. Only upon receipt of the corrected invoice will payment fall due.</p>

<p>5.6. If not agreed otherwise, remuneration shall be due and payable without any deduction within 14 days from invoicing.</p>

<p>5.7. In case of default in remuneration payment, a default interest of 1% per month will be charged.</p>

<p>5.8. Contract Partner is entitled to cancel the contract at any time. In such a case the following provisions apply: </p>

<p>a) In case of cancellation up to 6 weeks prior to performance, a cancellation fee of 30% of the agreed remuneration accrues.</p>

<p>b) In case of cancellation less than 6 weeks prior to performance, a cancellation fee of 60% of the remuneration, and </p>

<p>c) In case of cancellation less than 3 weeks prior to performance, the full remuneration shall be payable as cancellation fee.</p>

<p><b>6. Warranty</b></p>

<p>6.1. ITO warrants that it performs the contractually specified service in accordance with the latest state of the art and the latest acknowledged guidelines and proven rules of business </p>

<p>education.</p>

<p>6.2. The warranty relates only to the proper performance of the contractually agreed service.</p>

<p>6.3. Besides, the statutory warranty provisions apply.</p>

<p><b>7. Confidentiality</b></p>

<p>7.1. ITO commits to keep in confidence all person-related data of Contract Partner’s employees which become known to it on the occasion of contract conclusion and in connection with </p>

<p>performance of its services. It is obliged to abide by the provisions of the Data Privacy Act. </p>

<p>7.2. ITO and Contract Partner will maintain silence about all events which usually fall under the rule of confidential treatment. This applies in particular to all business and trade secrets of which the other Contract Party becomes aware.</p>

<p>7.3.The obligation to secrecy and confidential treatment also covers documents provided to ITO or Contract Partner, respectively.</p>

<p>7.4.ITO may use company-specific documents of Contract Partner only for purposes of Contract Partner and contract performance.</p>

<p>7.5.Contract Partner may use company-specific documents of ITO – including also drafts to prepare the service later contractually specified (see Sec. 2.) – for its own purposes only with the written consent of ITO. Regarding copyrights etc. see Sec. 4 above.</p>

<p>7.6.In case of doubt whether or not a fact falls under the confidentiality obligation, it has to be treated as confidential.</p>

<p>7.7.Also after termination of the contract, both Parties are obligated not to disclose confidential information. Contract Parties will use facts that are to be kept in confidence neither for their own nor for third-party purposes.</p>

<p>7.8.Both Contract Parties are committed to transfer the obligation not to disclose confidential information as contained in the preceding paragraphs to all persons whom they use to perform their services. In case of violation of this obligation by ITO, there is liability for damages – irrespective of fault – vis-a-vis Contract Partner in pursuing its damage claims against persons having violated the confidentiality obligation.</p>

<p>7.9.After termination of the contract relationship each Contract Party shall return immediately to the other Party the originals of its documents.</p>

<p><b>8. Non-Solicitation Agreement</b> </p>

<p>8.1.The relationship between Contract Partner and ITO is based on mutual loyalty.</p>

<p>8.2.Contract Parties therefore commit to abstain from soliciting and engaging employees of the other Contract Party, irrespective of whether this happens directly or through third parties, for instance through persons who are in a close relationship or state of dependence as a result of legal commitments or constructions, e.g. as a subsidiary or a company of the same group.</p>

<p>8.3.The term “engagement“ of an employee of the other Contract Party (see para. 2) shall mean any kind of contractual relationship regardless of how it may have been concluded. This includes an employment relationship; a non-standard (quasi-freelance) relationship or a relationship similar to a contract for work and services; a contract for work and services or a cooperation in any other legal form, e.g. in the form of a company or a joint venture.</p>

<p>8.4.The term “employee“ of the other Contract Party (see para. 2) shall not only mean employees, but also holders of a non-standard (quasi-freelance) contract or a contract similar to a contract for work and services or a contractor in the meaning of a contract for work and services according to civil law – with regard to ITO, however, only under the prerequisite that these persons act on behalf of ITO and that the contractually specified service to be performed by ITO extends or might extend to them. </p>

<p>8.5.The obligation according to para. 2 is valid during the contract relationship and also for a period of two years after termination of the contract relationship, i.e. after notice of termination or completion of all individual contracts. </p>

<p>8.6.The Contract Party violating these provisions shall pay a penalty not subject to the judicial right of mitigation of €50,000 plus a possibly levied Value Added Tax for each solicited or engaged employee. </p>

<p>8.7.Each Contract Party reserves the right to claim damages exceeding the penalty.</p>

<p><b>9.Other Provisions</b></p>

<p>9.1. To be legally effective, modifications of or amendments to the General Terms and Conditions themselves shall be made in writing. A waiver of this requirement can only be agreed upon in writing.</p>

<p>9.2. All rights and obligations resulting from these General Terms and Conditions are transferred to possible (single and/or universal) legal successors.</p>

<p>9.3. For possible legal disputes the jurisdiction of the competent court in Vienna is stipulated.</p>

<p>9.4. Austrian law applies.</p>

<p>9.5. If an individual provision of these General Terms and Conditions is or becomes invalid or ineffective, Contract Parties shall mutually agree on a valid or effective provision the economic effect of which is as close as possible to the invalid or ineffective provision. The invalidity or ineffectiveness of a provision has no effect on the validity or effectiveness of the General Terms and Conditions. </p>

<p>9.6. Besides, statutory legal provisions apply.</p>

<p>9.7. This contract is executed in duplicate. Each Contract Party shall receive one copy. </p>
