{# empty Twig template #}
<div>
    <h1>
        Datenschutzbestimmungen
    </h1>
</div>
<br clear="all"/>
<div>
    <p align="left">
        Wir speichern und verwenden Ihre personenbezogenen Daten nur für die Bearbeitung Ihrer Aufträge und für die Kontaktaufnahme mit Ihnen. Soweit Sie
        unseren Newsletter abonniert haben, nutzen wir Ihre E-Mail-Adresse darüber hinaus zu dessen Versand.
        <br/>
        <br/>
        <strong>Keine Weitergabe Ihrer Daten: </strong>
        <br/>
        Wir geben Ihre personenbezogenen Daten nicht an Dritte weiter. Ihre Daten werden lediglich für die Registrierung auf unserer Onlineplattform und für
        die Bearbeitung Ihres Auftrages an die beteiligten Dienstleistungspartner (z.B. Bank) weitergeleitet. In diesen Fällen erfolgt die Übermittlung gemäß
        den Bestimmungen des Bundesdatenschutzgesetzes (BDSG). Der Umfang der übermittelten Daten beschränkt sich auf das erforderliche Minimum.
    </p>
    <p align="left">
        Der web-mail Zugang wird über einen https-Server (Hypertext Transfer Protocol Secure) übertragen. HTTPS wird zur Herstellung von Vertraulichkeit und
        Integrität in der Kommunikation zwischen Webserver und Webbrowser (Client) im World Wide Web verwendet. Dies wird u. a. durch Verschlüsselung und
        Authentifizierung erreicht.
    </p>
    <p align="left">
        Ohne Verschlüsselung sind Daten, die über das Internet übertragen werden, für jeden, der Zugang zum entsprechenden Netz hat, als Klartext lesbar. Mit
        der zunehmenden Verbreitung von offenen (d. h. unverschlüsselten) WLANs nimmt die Bedeutung von HTTPS zu, da damit die Inhalte unabhängig vom Netz
        verschlüsselt werden können.
    </p>
    <p align="left">
        <br/>
        <strong>Cookies: </strong>
        <br/>
        Cookies setzen wir an verschiedenen Stellen unserer Website ein. Sie dienen lediglich dazu, ein korrektes Einloggen sicherzustellen.
        <br/>
        <br/>
        <strong>Auskunft, Berichtigung, Sperrung und Löschung Ihrer Daten: </strong>
        <br/>
        Sie haben im Rahmen des Bundesdatenschutzgesetzes ein Recht auf Auskunft sowie ein Recht auf Berichtigung, Sperrung und Löschung Ihrer gespeicherten
        Daten. Sofern einer Löschung gesetzliche, vertragliche oder handels- bzw. steuerrechtliche Aufbewahrungsfristen oder sonstige gesetzlich verankerte
        Gründe entgegenstehen, kann anstelle einer Löschung nur eine Sperrung Ihrer Daten erfolgen.
        <br/>
        <br/>
        <strong>Datenschutzgesetze: </strong>
        <br/>
        Personenbezogene Daten werden ausschließlich im Rahmen der gesetzlichen Vorschriften des Bundesdatenschutzgesetzes (BDSG) sowie des Telemediengesetzes
        (TMG) erhoben und gespeichert.
        <br/>
Für weitere Auskünfte oder Fragen zum Datenschutz bei Hetzner Online AG senden Sie eine E-Mail an        <a href="mailto:datenschutz@hetzner.de">datenschutz@hetzner.de</a>.
    </p>
</div>
<br clear="all"/>
<div>
    <br clear="all"/>
    <p align="left">
        <strong></strong>
    </p>
    <h1>
        Allgemeine Geschäftsbedingungen
    </h1>
    <p>
        <strong>ITO Individuum Team Organisation Personalmanagement GmbH</strong>
    </p>
    <p>
        <strong>Währinger Strasse 48, 1090 Wien</strong>
        (im folgenden ITO genannt)
    </p>
</div>
<strong>
    <u>
        <br clear="all"/>
    </u>
</strong>
<div>
    <p>
        1. <strong><u> Allgemeine Bestimmungen</u></strong>
    </p>
    <p>
        1.1. Die Bedingungen dieser AGB gelten für alle Lieferungen und Leistungen der ITO an den Vertragspartner, soweit ihre Geltung für jeden Einzelvertrag
        nicht im beiderseitigen Einvernehmen ausgeschlossen oder eingeschränkt ist.
    </p>
    <p>
        1.2. Diese AGB sind ein untrennbarer Bestandteil jedes Einzelvertrages zwischen den Vertragsteilen. Dessen Bestimmungen gehen den Bedingungen dieser
        AGB vor.
    </p>
    <p>
        <strong><u></u></strong>
    </p>
    <p>
        <strong>2. </strong>
        <strong><u> Auftragserteilung und Vertragsabschluss</u></strong>
    </p>
    <p>
        2.1. Jeder Vertragsteil trägt die Kosten für die Ausarbeitung von Angeboten (Aufträgen), Kostenvorschlägen etc. selbst.
    </p>
    <p>
        2.2. Arbeiten, die der Vorbereitung für einen später abzuschließenden Vertrag dienen, und die sich auf den wesentlichen Inhalt der vertraglich zu
        definierenden Leistungen beziehen, müssen mit dem Vertragspartner abgestimmt sein.
    </p>
    <p>
        2.3. Der Vertragspartner kann Aufträge mündlich (auch telefonisch) oder schriftlich erteilen.
    </p>
    <p>
        2.4. Die ITO kann Aufträge mündlich (auch telefonisch) oder schriftlich annehmen.
    </p>
    <p>
        2.5. Die ITO hat den Auftrag in einer schriftlichen Auftragsbestätigung festzuhalten, die dem Vertragspartner ohne schuldhafte Verzögerung zuzustellen
        ist.
    </p>
    <p>
        2.6. Widerspricht der Vertragspartner der Auftragsbestätigung nicht innerhalb von zehn Werktagen mit eingeschriebenem Brief – für die Rechtzeitigkeit
        des Widerspruchs ist der Tag der Postaufgabe maßgebend -, so gelten die in der Auftragsbestätigung festgehaltenen Bedingungen als vereinbart.
    </p>
    <p>
        <strong><u></u></strong>
    </p>
    <p align="left">
        <strong>3. </strong>
        <strong><u>Leistungsbeschreibung und Leistungserfüllung</u></strong>
    </p>
    <p>
        3.1. Die Leistungen der ITO umfassen: Planung und Durchführung von Qualifikationsworkshops, Trainings oder Beratungsaufträgen. Der Einzelvertrag
        definiert von Fall zu Fall, welche Leistungen ITO in welchem Umfang, zu welchen Terminen und zu welchem Entgelt zu erbringen hat.
    </p>
    <p>
        3.2. Sobald irgendwelche Umstände erkennbar werden, die eine Erfüllung des Vertrags in Frage stellen können, haben die Vertragsteile unverzüglich
        schriftlich über diese Umstände und allfällige von ihnen zu erwägende Maßnahmen zu berichten.
    </p>
    <p>
        3.3. Inhaltliche Änderungen einer vertraglich definierten Leistung bedürfen zu ihrer Wirksamkeit einer Vereinbarung zwischen den Vertragsteilen, welche
        die jeweils zeichnungsberechtigten Personen zu schließen haben. Solche Vereinbarungen sollen nach Möglichkeit schriftlich getroffen werden. Ist aus
        Zeitdruck oder aus anderen Gründen eine schriftliche Vereinbarung nicht möglich, kann die Vereinbarung mündlich (auch telefonisch) zwischen den vorhin
        bezeichneten Personen geschlossen werden. Dabei ist der Inhalt der Vertrags-änderung derart zu formulieren, dass die Vertragsteile einander die
        geänderte vertragliche Bestimmung mit gleich lautendem Text unverzüglich über Telefax/ Mail zuschicken können.
    </p>
    <p>
        3.4. Änderungen, die sich bloß auf die Durchführung einer vertraglich definierten Leistung beziehen, etwa eine andere Anordnung innerhalb eines
        vertraglich festgelegten Trainingsprogramms etc., ohne dass die Leistung in ihrem wesentlichen Inhalt verändert wird, kann der Projektleiter der ITO
        selbst vornehmen. Er hat dem Vertragspartner von einer solchen Änderung unverzüglich zu berichten.
    </p>
    <p>
        3.5. Wird während der Erfüllung eines Vertrages eine Leistung erforderlich, die in dem Vertrag bisher nicht definiert und nicht vereinbart war, so hat
        ITO vor deren Ausführung das Einvernehmen mit dem Vertragspartner herzustellen. Wird über die Erbringung dieser Leistung eine Einigung erzielt, so ist
        gleichzeitig die entsprechende Vergütung zu vereinbaren. Für eine solche Vereinbarung gelten die Bestimmungen in den letzten drei Sätzen des Abs.3.3
        sinngemäß. Erbringt ITO eine im Vertrag bisher nicht definierte und nicht vereinbarte Leistung ohne vorherige Vereinbarung, so ist der Vertragspartner
        nicht verpflichtet, für diese Leistung ein Entgelt zu bezahlen.
    </p>
    <p>
        3.6. Erfüllt der Vertragspartner seine Mitwirkung, ohne welche die ITO ihre Leistung nicht zu erbringen vermag, nicht termingerecht, so verlängern sich
        die Fristen für die Leistungen der ITO um den Zeitraum der dadurch verursachten Verzögerung.
    </p>
    <p>
        3.7. ITO setzt nur sorgfältig ausgewählte und gut ausgebildete Mitarbeiter ein und ersetzt auf Verlangen des Vertragspartners innerhalb angemessener
        Frist Mitarbeiter, welche die Vertragserfüllung beeinträchtigen.
    </p>
    <p>
        3.8. Der Auftragnehmer nimmt die Leistung bis spätestens 2 Wochen nach Werkerbringung ab. Werden ITO Leistungen unbeanstandet entgegengenommen, gilt
        dies als Abnahme der jeweiligen Leistung.
    </p>
    <p>
        3.9. Geringfügige Mängel berechtigen nicht, die Abnahme einer Leistung zu verweigern. Wandlung, Rücktritt und Preisminderung durch den Auftraggeber ist
        nur dann zulässig, wenn trotz vorangehender schriftlicher Bekanntgabe der Mängel und angemessener Nachfristensetzung, Verbesserungsversuche des
        Auftragnehmers scheitern.
    </p>
    <p>
        3.10. Der Vertragspartner ist berechtigt, sofort vom Vertrag zurückzutreten wenn:
    </p>
    <p>
        a) über das Vermögen der ITO ein Insolvenzverfahren eröffnet oder die Eröffnung des Insolvenzverfahrens mangels eines ausreichenden Vermögens abgelehnt
        wird. Das Rücktrittsrecht kann im Falle des Ausgleiches während der ganzen Dauer des Ausgleichverfahrens bis zur Aufhebung desselben, in den übrigen
        Fällen unbefristet bis zur Beendigung der Leistung geltend gemacht werden;
    </p>
    <p>
        b) er unmittelbar oder mittelbar einem Organ des Vertragspartners, das mit dem Abschluss und der Abwicklung des Vertrages befasst ist, oder einem
        Dritten einen Vermögensvorteil anbietet, verspricht oder gewährt;
    </p>
    <p>
        c) ITO selbst oder eine von ihr zur Erfüllung des Vertrages herangezogene Person die Geheimhaltungspflicht gemäß § 7 verletzt.
    </p>
    <p>
        3.11. Erfüllungsort ist – für beide Vertragsteile, wenn nicht im Einzelfall anders vereinbart, - Wien. Gerichtsstand ist das für den 1. Wiener Bezirk
        sachlich zuständige Gericht.
    </p>
    <p>
        <strong><u></u></strong>
    </p>
    <p>
        <strong>4. </strong>
        <strong><u>Urheberrechte von ITO</u></strong>
    </p>
    <p>
        4.1. Die Urheberrechte sowie alle Verwertungsrechte an den von ITO ausgearbeiteten Leistungen (Arbeitsunterlagen, etwa im Sinne des § 2.2, und/ oder
        die vertraglich definierte Leistung, wie beispielsweise ein Gutachten) verbleiben unbeschränkt bei ITO.
    </p>
    <p>
        4.2. Der Vertragspartner ist zur Weitergabe dieser Unterlagen an dritte außenstehende Personen nicht berechtigt.
    </p>
    <p>
        4.3. Er wird diese Unterlagen ausschließlich für eigene Zwecke und nicht für Zwecke dritter Personen, weder unmittelbar noch mittelbar, verwenden. Ihm
        ist jedoch die Verwendung dieser Unterlagen zur selbstständigen Veranstaltung von Seminaren/ Programmen etc. – selbst innerhalb des eigenen Bereiches –
        untersagt.
    </p>
    <p>
        <strong><u></u></strong>
    </p>
    <p>
        <strong>5. </strong>
        <strong><u>Entgelt und Zahlungsmodalität</u></strong>
    </p>
    <p>
        5.1. Zu den Entgelten wird auf die Angebote von ITO verwiesen.
    </p>
    <p>
        5.2. Die im Einzelvertrag definierte Leistung wird nach Leistungserfüllung fakturiert. Ist die Leistung teilbar, gilt diese Regelung auch für
        Teilleistungen. Das gilt im Besonderen für Leistungen von ITO, für die das Entgelt nach Tagessätzen, wie beispielsweise bei Seminaren, Workshops etc.,
        berechnet wird; in diesen Fällen wird das Entgelt für jeden Monat unmittelbar nach dessen Ende fakturiert.
    </p>
    <br clear="all"/>
</div>
<br clear="all"/>
<div>
    <p>
        5.3. Eine allenfalls anfallende Umsatzsteuer ist gesondert auszuweisen.
    </p>
</div>
<br clear="all"/>
<div>
    <p>
        5.4. Ein Anspruch auf Vorauszahlung besteht nicht. Vorauszahlungen müssen im Einzelvertrag oder in einer eigenen Vereinbarung festgelegt werden.
    </p>
    <p>
        5.5. Rechnungen, die sachliche oder rechnerische Mängel oder Fehler aufweisen, begründen bis zu ihrer akkordierten Richtigstellung keine Fälligkeit und
        können vom Vertragspartner jederzeit zurückgesendet werden. Die Fälligkeit tritt erst mit Erhalt der richtig gestellten Rechnung ein.
    </p>
    <p>
        5.6. Ist nicht anders vereinbart, ist das Entgelt ohne jeden Abzug 14 Tage nach Rechnungslegung zur Zahlung fällig.
    </p>
    <p>
        5.7. Bei Verzug mit der Bezahlung des Entgeltes werden 1% pro Monat Verzugszinsen berechnet.
    </p>
    <p>
        5.8. Der Vertragspartner ist berechtigt, den Vertrag jederzeit zu stornieren. In einem solchen Fall gilt die folgende Regelung:
    </p>
    <p>
        a) Bei Stornierung bis 6 Wochen vor Durchführung entsteht eine Stornogebühr von 30 % des vereinbarten Entgeltes.
    </p>
    <p>
        b) Bei Stornierung weniger als 6 Wochen vor Durchführung ist eine Stornogebühr von 60 % des Entgeltes und
    </p>
    <p>
        c) Bei Stornierung weniger als 3 Wochen vor Durchführung ist als Stornogebühr das volle Entgelt zu bezahlen.
    </p>
    <p>
        <strong><u></u></strong>
    </p>
    <p>
        <strong>6. </strong>
        <strong><u>Gewährleistung und Schadenersatz</u></strong>
    </p>
    <p>
        6.1. Die ITO leistet dafür Gewähr, dass sie die vertraglich definierte Leistung nach dem neusten Stand der Technik und den neusten anerkannten
        Richtlinien und bewährten Regeln der Betriebspädagogik ausführt.
    </p>
    <p>
        6.2. Die Gewährleistung bezieht sich nur auf die ordnungsgemäße Durchführung der vertraglich definierten Leistung.
    </p>
    <p>
        6.3. Im Übrigen gelten die gesetzlichen Gewährleistungsbestimmungen.
    </p>
    <p>
        6.4. Die ITO haftet nicht für Schäden, die auf leichter Fahrlässigkeit beruhen.
    </p>
    <p>
        <strong><u></u></strong>
    </p>
    <p>
        <strong>7. </strong>
        <strong><u>Geheimhaltung</u></strong>
    </p>
    <p>
        7.1. Die ITO verpflichtet sich zur Geheimhaltung aller personenbezogenen Daten von Mitarbeitern des Vertragspartners, die ihr aus Anlass des
        Vertragsabschlusses und im Zusammenhang mit der Leistungserfüllung bekannt werden. Sie ist zur Einhaltung der Bestimmungen des Datenschutzgesetzes
        verpflichtet.
    </p>
    <p>
        7.2. Die ITO und der Vertragspartner werden über alle Vorgänge, die üblicherweise dem Gebot vertraulicher Behandlung unterliegen, Stillschweigen
        bewahren. Das gilt im Besonderen für alle Geschäfts- und Betriebsgeheimnisse, von denen der jeweils andere Vertragsteil Kenntnis erhält.
    </p>
    <p>
        7.3. Die Verpflichtung zur Geheimhaltung und vertraulichen Behandlung bezieht sich auch auf die der ITO bzw. dem Vertragspartner überlassenen
        Unterlagen.
    </p>
    <p>
        7.4. Firmenspezifische Unterlagen des Vertragspartners darf die ITO nur für Zwecke des Vertragspartners und nur zur Vertragserfüllung verwenden.
    </p>
    <p>
        7.5.Firmenspezifische Unterlagen der ITO, dazu zählen auch Entwürfe zur Erarbeitung der später vertraglich definierten Leistung (vgl.§2.), darf der
        Vertragspartner nur mit schriftlicher Zustimmung der ITO für eigene Zwecke verwenden. Zu den Urheberrechten etc. siehe oben §4.
    </p>
    <p>
        7.6.Im Zweifelsfall, ob ein Umstand der Verschwiegenheitspflicht unterliegt oder nicht, ist er vertraulich zu behandeln.
    </p>
    <p>
        7.7.Beide Vertragsteile sind auch nach Beendigung des Vertragsverhältnisses zur Verschwiegenheit verpflichtet. Die Vertragsteile werden
        geheimzuhaltende Umstände weder für eigene noch für fremde Zwecke verwenden.
    </p>
    <p>
        7.8.Beide Vertragsteile sind verpflichtet, die Verschwiegenheitspflicht nach den vorstehenden Absätzen auch auf alle Personen zu übertragen, die sie
        zur Erfüllung ihrer Leistungen heranziehen. Bei einem Verstoß gegen diese Verpflichtung durch ITO besteht eine verschuldensunabhängige
        Schadenersatzpflicht gegenüber dem Vertragspartner bei der Durchsetzung seiner Schadenersatzansprüche gegen die Personen, welche die
        Verschwiegenheitspflicht verletzt haben.
    </p>
    <p>
        7.9. Nach Beendigung des Vertragsverhältnisses wird jeder Vertragsteil dem anderen Vertragsteil dessen Unterlagen unverzüglich im Original
        zurückstellen.
    </p>
    <p>
        <strong><u></u></strong>
    </p>
    <p>
        <strong>8. </strong>
        <strong><u>Abwerbeverbot</u></strong>
    </p>
    <p>
        8.1. Das Verhältnis zwischen dem Vertragspartner und der ITO beruht auf gegenseitiger Loyalität.
    </p>
    <p>
        8.2. Die Vertragsteile verpflichten sich daher, jede Abwerbung und Beschäftigung von Mitarbeitern des jeweils anderen Vertragsteils – gleichgültig, ob
        sie unmittelbar selbst erfolgt oder über dritte Personen, beispielsweise durch Personen, die aufgrund rechtlicher Bindungen und Konstruktionen, etwa
        als Tochterfirma oder Konzernfirma, in einem Naheverhältnis oder einem Abhängigkeitsverhältnis zu dem jeweiligen Vertragsteil stehen – zu unterlassen.
    </p>
    <p>
        8.3. Unter „Beschäftigung“ eines Mitarbeiters des jeweils anderen Vertragsteils (siehe Abs.2) wird jedes Vertragsverhältnis verstanden, auf welche
        Weise immer es abgeschlossen sein mag. Dazu zählen ein Angestelltenverhältnis, ein freies oder werkvertragsähnliches Dienstverhältnis, ein Werkvertrag
        oder die Zusammenarbeit in welcher anderen Rechtsform auch immer, etwa in Form einer Gesellschaft oder eines Joint Ventures.
    </p>
    <p>
        8.4. Unter „Mitarbeitern“ des jeweils anderen Vertragsteils (siehe Abs.2) werden nicht nur Angestellte, sondern auch freie oder werkvertragsähnliche
        Dienstnehmer oder Unternehmer im Sinne des Werkvertrages nach dem bürgerlichen Recht verstanden, im Hinblick auf ITO, jedoch nur unter der
        Voraussetzung, dass diese Personen im Namen von ITO auftreten und sich die vertraglich definierte, von ITO zu erbringende Leistung auf sie erstreckt
        oder erstrecken könnte.
    </p>
    <p>
        8.5. Die Verpflichtung nach Abs.2 gilt während des Vertragsverhältnisses und auch für eine Zeitspanne von zwei Jahren nach Beendigung des
        Vertragsverhältnisses, das ist nach Aufkündigung bzw. nach Erfüllung aller Einzelverträge.
    </p>
    <p>
        8.6. Der gegen diese Bestimmungen verstoßende Vertragsteil ist zur Bezahlung einer dem richterlichen Mäßigungsrecht nicht unterliegenden
        Konventionalstrafe von 50.000 € zuzüglich einer allenfalls vorgeschriebenen Umsatzsteuer für jeden abgeworbenen bzw. beschäftigten Mitarbeiter
        verpflichtet.
    </p>
    <p>
        8.7. Über die Konventionalstrafe hinausgehende Schadenersatzansprüche behält sich jeder Vertragsteil vor.
    </p>
    <p>
        <strong><u></u></strong>
    </p>
    <p>
        <strong><u>9. Sonstige Bestimmungen</u></strong>
    </p>
    <p>
        9.1. Änderungen oder Ergänzungen der AGB selbst bedürfen zu ihrer Rechtswirksamkeit der Schriftform. Von dieser Vereinbarung kann nur schriftlich
        abgegangen werden.
    </p>
    <p>
        9.2. Alle Rechte und Pflichten aus diesen AGB gehen auf allfällige (Einzel- und/ oder Gesamt-) Rechtsnachfolger über.
    </p>
    <p>
        9.3. Für allfällige Rechtsstreitigkeiten wird die Zuständigkeit des sachlich zuständigen Gerichtes in Wien vereinbart.
    </p>
    <p>
        9.4. Österreichisches Recht ist maßgebend.
    </p>
    <p>
        9.5. Sollte eine Bestimmung dieser AGB ungültig oder unwirksam sein oder werden, werden die Vertragsteile einvernehmlich eine gültige bzw. wirksame
        Bestimmung festlegen, die der ungültigen bzw. unwirksamen Bestimmung wirtschaftlich am nächsten kommt. Die Ungültigkeit oder Unwirksamkeit einer
        Bestimmung hat keine Auswirkung auf die Gültigkeit bzw. Wirksamkeit der AGB.
    </p>
    <p>
        9.6. Im Übrigen gelten die gesetzlichen Bestimmungen.
    </p>
    <p>
        9.7. Die ITO ist, falls es ihr nicht ausdrücklich untersagt wird, berechtigt, in ihren eigenen Werbeunterlagen, Broschüren , Präsentationen etc., Namen
        und Logo des Vertragspartners‚als Referenz anzuführen.
    </p>
</div>
<br clear="all"/>